/*global roles*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*media query for all devices*/
/*small*/
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
/*end global roles*/
/*start header*/
.header {
    position: absolute;
   width: 100%;
  
}
.header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
}
.header .container .logo {
    width: 140px;
}
.header .container .links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header .container .links .cart-div {
    width: 50px;
    height: 80px;
}
.header .container .links .cart-div  .cart {
    width: 100%;
}
.header .container .links .toggle-menu {
    margin-right: 15px;
    font-size: 25px;
}
@media (min-width: 768px){
    .header .container .links .toggle-menu {
        display: none;
    }
}
@media (max-width: 767px){
    .header .container .links ul {
    display: none;
    }
    .header .container .links ul li a {
        color: white;
    }
    .header .container .links .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(45, 43, 46);
        z-index: 1;
    }
}
.header .container .links li {
    display: inline-block;
    padding: 15px;
}
.header .container .links li a {
    color: black;
    position: relative;
    transition: 0.2s;
}
.header .container .links li a:hover {
    color: orangered;
}
.header .container .cart {
    width: 40px;
    position: relative;
    top: 8px;
}
/*end header*/
/*start landing*/
.landing {
    height: calc(100vh + 90px);
    background-color: rgb(247, 197, 205);
}
.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
@media (max-width: 767px) {
    .landing .container {
        flex-direction: column-reverse;
    }
}
@media (min-width: 768px) {
    .landing .container .text {
        min-width: 320px;
    }
}
@media (max-width: 767px){
 .landing .container .text h1 , .landing .container .text p   {
   min-width: 300px;
   text-align: center;
 }
}
.landing .container .text h1 {
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.2;
}
.landing .container .text p {
    line-height: 1.5;
    margin: 40px 0;
    color: rgb(129, 119, 119);
}
.landing .container .text a {
    display: inline-block;
    color: white;
    padding: 10px 60px 10px 30px;
    border-radius: 40px;
    width: fit-content;
    background-color: rgb(240, 28, 28);
    font-weight: normal;
    transition: 0.2s;
}
.landing .container .text a:hover {
    background-color: black;
}
@media (max-width: 767px){
    .landing .container .text a {
        padding: 10px 50px 10px 30px;
    }
    .landing .container .pic-div {
      max-width: 500px;
    }
}
.landing .container .text  i {
  position: relative;
  left: -55px;
  top: 2px;
  color: white;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.landing .container .text a:hover + i {
    transform: translateX(5px);
}
@media (max-width: 767px){
    .landing .container .text i {
        left: -45px;
    }
}
.landing .container .pic {
    max-width: 100%;
}
@media (max-width: 767px){
    .landing .container .pic {
        width: 100%;
    }
}
/*end landing*/
.section-images {
   padding: 50px 0;
}
.section-images .box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.section-images .container .image {
    margin-right: 30px;
    width: 300px;
  cursor: pointer;
}
.section-images .container .image img {
    max-width: 100%;
    border-radius: 20px;
}
/*end section*/
/*start features*/
.features {
   padding: 50px 0;
}
/*componenets*/
 .main-component {
   text-align: center;
   text-transform: capitalize;
   position: relative;
}
 .main-component::after {
    content: '';
    width: 60px;
    height: 3px;
    border: 1px solid red;
    border-radius: 30px;
    background-color: red;
    position: absolute;
    bottom: -15px;
    left: 47%;
}
@media (max-width: 767px){
    .features h2::after {
        left: 42%;
    }
}
/*end componenets*/
.features .big-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px 0;
}
.features .box {
    position: relative;
    transition: 0.2s;
}
.features .box .image {
   width: 220px;
}
@media (max-width: 767px){
    .features .box .image {
        width: 100%;
    }
}
.features .box:hover {
    transform: translateY(-10px);
}
.features .box .image img {
    max-width: 100%;
    border-radius: 20px;
}
@media (min-width: 768px) {
    .features .box .image {
        flex-basis: 25%;
    }
}
.features .big-box .text i {
    display: inline-block;
    color: orangered;
    padding: 5px 0;
}
.features .big-box .text span {
    display: block;
    font-weight: bold;
}
/*end features*/
/*latest features*/
.latest-products {
    padding: 50px 0 ;
}
.latest-products .main-component {
    margin-bottom: 100px;
}
.latest-products .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
@media (max-width: 767px){
    .latest-products .container .box {
     flex-basis: 100%;
 }
}

@media (min-width: 768px){
    .latest-products .container .box {
        flex-basis: 30%;
    }
}
@media (min-width: 991px){
    .latest-products .container .box {
        flex-basis: 20%;
    }
}
.latest-products .container .box {
    position: relative;
    transition: 0.2s;
}
.latest-products .container .box .image {
    position: relative;
    transition: 0.2s;
}
.latest-products .container .box:hover {
    transform: translateY(-7px);
}
.latest-products .container .box .image img {
    max-width: 100%;
    border-radius: 20px;
}
.latest-products .container .box .text p {
    font-weight: bold;
}
.latest-products .container .box .text span {
    display: block;
    font-weight: bold;
}
.latest-products .container .box .text i {
    color: orangered;
    margin: 15px 0;
}
/*end*/
/*start smart-band*/
.smart-band {
    padding: 50px 0;
    background-color: rgb(241, 201, 208);
}
.smart-band .container {
    display: flex;
    justify-content: space-evenly;
}
.smart-band .container .image {
   width: 300px;
}
.smart-band .container .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .smart-band .container {
        flex-direction: column;
    }
    .smart-band .container .text {
        margin-top: 30px;
    } 
}
.smart-band .container .text {
     max-width: 550px;
}
.smart-band .container .text > p {
    color: gray;
}
.smart-band .container .text h2 {
    margin: 15px 0;
    font-size: 40px;
    font-weight: bold;
}
.smart-band .container .text p:last-of-type {
    line-height: 1.5;
    color: grey;
    margin-bottom: 15px;
}
.smart-band .container .text a {
    background: red;
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    color: white;
    display: inline-block;
    width: fit-content;
    position: relative;
    transition: 0.2s;
}
.smart-band .container .text a:hover {
    background-color: black;
}
.smart-band .container .text a:hover + i {
    transform: translateX(5px);
}
.smart-band .container .text i {
    position: relative;
    left: -40px;
    top: 2px;
    color: white;
    transition: 0.2s;
}
/*end*/
/*start opinions*/
.opinions {
    padding: 50px 0;
}
.opinions .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.opinions .container .box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    transition: 0.2s;
}
@media (min-width: 768px){
    .opinions .container .box {
        flex-basis: 32%;
    }
}
@media (max-width: 767px) {
  .opinions .container .box {
      flex-basis: 100%;
  }
}
.opinions .container .box:hover {
    transform: translateY(-10px);
}
.opinions .container .box i:first-child {
    color: orangered;
    font-size: 40px;
}
.opinions .container .box .text p {
    color: gray;
    line-height: 1.5;
    margin: 15px 0;
}
.opinions .container .box .text i:not(:last-child) {
    color: orangered;
}
.opinions .container .box .image {
    width: 50px;
    margin: 15px auto;
}
.opinions .container .box .image img {
    max-width: 100%;
    border-radius: 50%;
}
.opinions .container .box span {
    font-weight: bold;
}
/*end opinions*/
/*start products*/
.products {
    padding: 50px 0;
}
.products .container {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.products .container .image {
    width: 200px;
    filter: grayscale(1);
    position: relative;
    transition: 0.2s;
    cursor: pointer;
}
.products .container .image:hover {
    filter: grayscale(0);
} 
@media (max-width: 767px){
    .products .container {
        flex-direction: column;
    }
}
.products .container .image img {
    max-width: 100%;
}
/*End*/
/*start Footer*/
.footer {
    max-width: 100%;
    background-color: #000;
    color: white;
    padding: 70px;
}
.footer .container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    }
    @media (min-width: 768px){
        .footer .container .col-2 {
            text-align: center;
            position: relative;
            left: -50px;
    }

    .footer .container .col-2 .image {
            width: 150px;
            margin: auto;
    }
    .footer .container .col-2 .image img {
        max-width: 100%;
    }
    .footer .container .col-2 p {
        margin-top: 32px;
        color:gray;
    }
    .footer .container .col-1 {
            flex-basis: 36%;
    }
    .footer .container .col-2 {
            flex-basis: 44%;
    }
    .footer .container .col-3 {
            flex-basis: 10%;
    }
    .footer .container .col-3 ul {
        margin-top: 15px;
    }
    .footer .container .col-3 ul li {
        padding: 3px;
    }
    .footer .container .col-4 {
            flex-basis: 10%;
    }
    .footer .container .col-4 ul {
        color: grey;
        margin-top: 15px;
    }
    .footer .container .col-4 ul li {
        padding: 3px;
    }
    .footer .container .col-3 ul {
        color: grey;
        font-size: 15px;
    }
    }
@media (max-width: 767px){
    .footer .container .col {
        flex-basis: 100%;
    }
    .footer {
        padding: 50px 0;
    }
    .footer .container .col-2 {
        margin: 20px 0 20px 12px;
    }
    .footer .container .col-2 .image {
        margin-left: -25px;
    }
    .footer .container .col-2 p {
        color: grey;

    }
    .footer .container .col-2 .image {
        width: 150px;
        margin-top: 20px;
        position: relative;
        left: 7px;
    }
    .footer .container .col-2 .image img {
        max-width: 100%;
    }
    .footer .container .col-2 p {
        position: relative;
        left: -12px;
    }
    .footer .container .col-3 ul {
        margin: 15px 0;
        color: grey;
    }
    .footer .container .col-3 ul li {
        padding: 3px 0;
    }
    .footer .container .col-4 ul {
        color: grey;
        margin: 15px 0;
    }
    .footer .container .col-4 ul li {
        padding: 3px 0;
    }
}
.footer .container .col-1 h2 {
    font-size: 18px;
    margin-bottom: 20px;
}
.footer .container .col-1 p {
    margin: 20px 0;
    color: grey;
}
.footer .container .col-1 .image-box {
    width: 250px;
    display: flex;
    gap: 10px;
}
.footer .container .col-1 .image {
    width: 150px;
    display: flex;
}
.footer .container .col-1 .image img {
    max-width: 100%;
}
.footer hr {
    width: calc(100% - 50px);
    margin: auto;
}
.footer > p {
    color: white;
    text-align: center;
    margin: 15px ;
}
/*end footer*/